.footer-container {
    
    
    text-align: center;
    font-weight: 400;
    color: gray;
    margin: 1.5% 0;
}


.footer-bottom {
    font-size: 14px;
    color: #777; /* Grey text */
}

.footer-bottom a {
    color: #777;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
